.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid rgb(213, 210, 210);
}

.wd-modules > li > div {
  padding: 5px;
}

.wd-modules > li > ul > li {
  padding: 10px;
  border-top: 1px solid gray !important;
  border-left: 3px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.wd-modules .list-group-item > ul > .list-group-item .text-content {
  display: inline-block;
  margin-left: 30px;
}

.wd-modules .list-group-item .text-red {
  color: #dc143c;
  text-decoration: none;
}

.wd-modules .list-group-item .text-red:hover {
  text-decoration: underline;
}

.wd-modules .list-group-item .fa-link {
  color: grey;
  margin-left: 20px;
}

.wd-modules .list-group-item .fa-external-link {
  color: #dc143c;
  margin-left: 5px;
}

.bttn {
  padding: 5px 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.select-with-icon {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 0;
}

.select-with-icon .fa {
  position: absolute;
  left: 10px;
}

.select-with-icon select {
  padding-left: 20px;
}

.divider {
  border-top: 1px solid #cccccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-divider {
  background-color: #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-module-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.module-name-input,
.module-description-text {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

add-module-btn {
  padding: 10px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

.add-module-btn:hover {
  background-color: #45a049;
}

.module-info {
  margin-bottom: 15px;
}

.module-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.module-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.module-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-id {
  font-weight: bold;
}

.delete-module-btn {
  margin-left: auto;
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  align-self: start;
}

.delete-module-btn:hover {
  background-color: #c82333;
}

.edit-module-btn {
  background-color: #1b7908;
  color: #fefefe;
  border: 1px solid #ccc;
}

.module-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
